# Timer for Chia Wallet Watch Service

[Unit]
Description=Timer for Chia Wallet Watch Service
Requires=chia-wallet-watch.service

[Timer]
Unit=chia-wallet-watch.service
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
