# HPool Chia Miner Restart Service

[Unit]
Description=Restarts The HPool Miner once a day.
Wants=harvester-hpool-restart.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hpool-restart.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
